<html>
<head>
  <meta charset="UTF-8">
  <title>Calculator</title>
  <link rel="stylesheet" type="text/css" href="static/index.css">
</head>
<div id='helloworld'>
    
    <div class='calcbox'>
        <table>
                <tr class="head">[[expression]]</tr>
                <tr class="row" v-for="i in keymap">
                    <td class="cell" v-for="obj in i" v-on:click="push(obj)">[[obj]] </td>
                </tr>

        </table>
    </div>

    <h4> Recent Data (in order)</h4>
    <ul>
        <li v-for="obj in recentdata" >[[obj]]</li>
    </ul>
</div>
<script src="static/vue.js"></script>
<script src="static/index.js"</script>
<script src="static/vuehttp.js"></script>

</html>